* {
  box-sizing: border-box;
}

.backColor {}

.container1 {
  position: relative;
  border: #1E3231 solid;
  background-color: #909CC2;
  height: 150px;
  width: 1440px;
  top: -5px;
  margin-left: -8px;
  margin-top: -9px;
  overflow: hidden;
}

.content {
  position: absolute;
  height: 147px;
  animation-name: zoom;
  animation-duration: 3s;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.photo1 {
  margin-top: -35px;
  width: 212px;
  margin-left: 50px;
}

.content2 {
  margin-left: 250px;
  margin-top: 70px;
  height: 73.5px;
  width: 900px;
  position: absolute;
  animation-name: slidedown;
  animation-duration: 3s;
}

@keyframes slidedown {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-100px);
  }

  50% {
    transform: translateY(-100px);
  }
}

.title2 {
  margin-top: 25px;
  margin-left: 70px;
  color: white;
  font-size: 1.2em;
  font-family: cursive;
}

.content3 {
  margin-left: 250px;
  height: 73.5px;
  width: 900px;
  position: absolute;
  animation-name: slideup;
  animation-duration: 3s;
}

@keyframes slideup {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(100px);
  }

  50% {
    transform: translateY(100px);
  }
}

.title {
  font-size: 3em;
  color: #1E3231;
  font-family: 'Courier New', monospace;
  margin-left: 70px;
}

.line {
  position: static;
  background-color: #1E3231;
  margin-left: 20px;
  width: 270px;
  height: 200px;
}

.slide_wrapper {
  width: 300%;
  height: 100%;
  animation: slideshow 9s ease-in infinite alternate;
  overflow: hidden;
}

@keyframes slideshow {
  0% {
    margin-left: 0%;
  }

  33.3% {
    margin-left: 0%;
  }

  35.3% {
    margin-left: -100%;
  }

  66.3% {
    margin-left: -100%;
  }

  69.3% {
    margin-left: -200%;
  }

  100% {
    margin-left: -200%;
  }
}

.slide2 {
  background-color: #96939B;
  width: 33.333%;
  float: left;
  height: 100%;
  color: white;
  padding: 25px;
  font-size: 40px;
  overflow: hidden;
}

.container4 {
  height: 100px;
  width: 1200px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  position: static;
}

.corny_stuff {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 350px;
  margin-top: -80px;
}

.corny_words {
  font-weight: bold;
  color: #1E3231;
  text-align: center;
  margin-top: 150px;
  font-family: "Snell Roundhand";
  font-size: 5.5em;
  text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
}

.container11 {
  background-color: #1E3231;
  height: 595px;
  width: 1441px;
  margin-left: -42px;
  margin-bottom: -8px;
  position: static;
}

.textIn {
  font-size: 1em;
}

.heading1 {
  font-size: 2em;
  margin-left: 29%;
  color: white;
}

.heading4 {
  font-size: 2em;
  margin-left: 6%;
  color: white;
}

.container15 {
  height: 50px;
  width: 50px;
  margin-top: 25px;
  margin-left: 870px;
  position: static;
  display: inline-block;
}

.container16 {
  height: 50px;
  width: 50px;
  margin-top: 25px;
  margin-left: 40px;
  position: static;
  display: inline-block;
}

/* Modal stuff Bellow */
.priceLink:hover {
  background-color: #909CC2;
  color: white;
  box-shadow: 0px 0px 5px 2px;
}

/* how the window looks  */
.modalWindow {
  background-color: rgba(150, 150, 150, 0.6);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  pointer-events: none;
}

.modalWindow:target {
  opacity: 1;
  pointer-events: auto;
  transition: ease-in 0.2s;
}

.close:hover {
  background-color: black;
  color: white;
}

.info {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 10%;
}

.conS:hover {
  background-color: black;
  color: white
}

.classImg {
  width: 100px;
  height: 188px;
}

.w3-animate-fading {
  width: 1000px;
  height: 1000px;
  animation: fading 6s infinite;
}

@keyframes fading {
  0% {
    opacity: 0
  }

  25% {
    opacity: 1
  }

  50% {
    opacity: 1
  }

  75% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.w3-section {
  border-radius: 50px;
  position: relative;
  height: 700px;
  width: 1195px;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  margin-left: 112px;
}

.w3-content {
  border-radius: 50px;
  border-radius: 50px;
  margin-left: 71px;
  position: static;
  width: 1195px;
  background: black;
}

.mySlides {
  border-radius: 50px;
  border-radius: 50px;
  width: 1195px;
  height: 700px;
}

.mySlides2 {
  border-radius: 50px;
  width: 1195px;
  height: 700px;
}

.toTop {
  background-color: rgba(10, 10, 10, 0.4);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  position: fixed;
  bottom: 1%;
  right: .1%;
}

.toTop:hover {
  box-shadow: 0px 0px 10px 3px black;
  transition: opacity 0.1s;
}

.toTop a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 20%;
}

/* --- desktop or large size view 900px and up --- */
@media only screen and (min-width:900px) {
  .otherline {
    background-color: white;
    border-radius: 100px;
    position: absolute;
    width: 1350px;
    height: 3480px;
    border: solid #1E3231;
    margin-left: 30px;
    margin-top: -8px;
  }

  .slideshow {
    border: solid white;
    border-radius: 100px;
    width: 1195px;
    height: 100px;
    margin-top: 20px;
    margin-left: 73px;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
  }

  .slide1 {
    background-color: #8A817C;
    width: 33.333%;
    float: left;
    height: 100%;
    color: white;
    padding: 25px;
    font-size: 40px;
    overflow: hidden;
  }

  .slide3 {
    background-color: #665687;
    width: 33.333%;
    float: left;
    height: 100%;
    color: white;
    padding: 25px;
    font-size: 40px;
    overflow: hidden;
  }

  .slideText {
    font-family: 'Courier New', monospace;
    font-size: 1em;
  }

  .compName {
    margin-left: 50px;
    color: black;
    font-size: 2em;
  }

  .horline {
    border: none;
    height: 3px;
    width: 1150px;
    background-color: #1E3231;
  }

  .container5 {
    display: inline-block;
    height: 500px;
    width: 400px;
    position: static;
    margin-left: 63px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .djImage1 {
    margin-left: 50px;
    height: 250px;
    width: 300px;
  }

  .venTitle1 {
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
  }

  .artName1 {
    text-align: center;
    font-size: 1.7em;
  }

  .priceTag {
    text-align: center;
    font-size: 1.3em;
  }

  .price {
    text-align: center;
    font-size: 1em;
    padding-bottom: 10px;
  }

  .priceLink {
    margin-left: 155px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1em;
  }

  .container6 {
    display: inline-block;
    height: 500px;
    width: 400px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
  }

  .container7 {
    display: inline-block;
    height: 500px;
    width: 400px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
  }

  .container8 {
    display: inline-block;
    height: 500px;
    width: 400px;
    position: static;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .container9 {
    display: inline-block;
    height: 500px;
    width: 400px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
  }

  .container10 {
    display: inline-block;
    height: 500px;
    width: 400px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
  }

  .container12 {
    height: 150px;
    width: 200px;
    margin-top: 75px;
    margin-left: 225px;
    margin-right: 0px;
    position: static;
    display: inline-block;
  }

  .container13 {
    height: 300px;
    width: 200px;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 0px;
    position: static;
    display: inline-block;
  }

  .heading0 {
    position: static;
    display: block;
    font-size: 1em;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
    color: #909CC2;
  }

  .heading2 {
    font-size: 2em;
    margin-left: 10%;
    color: white;
  }

  .heading3 {
    font-size: 2em;
    margin-left: 4%;
    color: white;
  }

  .horline2 {
    border: none;
    height: 1.8px;
    width: 1150px;
    background-color: white;
    margin-top: -120px;
  }

  .container14 {
    height: 75px;
    width: 475px;
    margin-top: -30px;
    margin-left: 850px;
    position: static;
    display: inline-block;
  }

  .conectM {
    color: white;
    font-size: 1.5em;
    margin-left: 80px;
    margin-top: 120px;
  }

  .faceSize {
    width: 50px;
    height: 50px;
  }

  .instaSize {
    width: 50px;
    height: 50px;
  }

  .youSize {
    width: 50px;
    height: 50px;
  }

  .pinSize {
    width: 50px;
    height: 50px;
  }

  .twSize {
    width: 50px;
    height: 50px;
  }

  .last {
    text-align: center;
    margin-top: 90px;
    color: #909CC2;
  }

  .last2 {
    text-align: center;
    color: white;
    margin-top: 0px;
  }

  .content4 {
    border: solid #1E3231;
    width: 550px;
    height: 450px;
    background-color: white;
    margin: auto;
    margin-top: 200px;
    position: relative;
  }

  .close {
    background-color: #909CC2;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1em;
  }

  .topWords {
    margin-left: 200px;
    margin-top: 15px;
    position: absolute;
    font-size: 1em;
  }

  .topHr {
    position: absolute;
    border: none;
    height: 1.8px;
    width: 450px;
    background-color: #1E3231;
    top: 30px;
    margin-left: 45px;
    margin-top: 10px;
  }

  .info img {
    top: 7%;
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 50px;
  }

  .p {
    position: absolute;
    width: 50%;
    top: 30px;
    right: 5px;
    font-size: 1em;
  }

  .second {
    font-size: 2em;
    margin-top: 20px;
    position: absolute;
  }

  .third {
    font-size: 1em;
    margin-top: 64px;
    margin-left: 5px;
    position: absolute;
  }

  .bottomPart {
    background-color: #909CC2;
    width: 100%;
    height: 32%;
    position: absolute;
    top: 62.5%;
  }

  .bottomPartWords {
    position: absolute;
    top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
  }

  .bottomHr {
    position: absolute;
    border: none;
    height: 3px;
    width: 450px;
    background-color: white;
    margin-top: 20px;
    margin-left: 25px;
  }

  .conS {
    display: block;
    margin-top: 90px;
    margin-left: 175px;
    width: 35%;
    background-color: white;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1em;
  }

  .field {
    border: solid black;
    width: 50%;
    height: 400px;
    margin-left: 350px;
    margin-top: 200px;
    text-align: center;
  }

  .stuff_container {
    width: 300px;
    height: 180px;
    margin-left: 190px;
    margin-bottom: -50px;
    margin-top: 20px;
    font-size: 2.5em;
    text-align: center;
  }
}

/* --- Tablet or Medium size view 450px-800px --- */
@media only screen and (max-width: 900px) and (min-width:450px) {
  .otherline {
    background-color: white;
    border-radius: 100px;
    position: absolute;
    width: 1350px;
    height: 3480px;
    border: solid #1E3231;
    margin-left: 30px;
    margin-top: -8px;
  }

  .slideshow {
    border: solid white;
    border-radius: 100px;
    width: 1195px;
    height: 100px;
    margin-top: 20px;
    margin-left: 73px;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
  }

  .slide1 {
    background-color: #8A817C;
    width: 33.333%;
    float: left;
    height: 100%;
    color: white;
    padding: 25px;
    font-size: 40px;
    overflow: hidden;
  }

  .slide3 {
    background-color: #665687;
    width: 33.333%;
    float: left;
    height: 100%;
    color: white;
    padding: 25px;
    font-size: 40px;
    overflow: hidden;
  }

  .slideText {
    font-family: 'Courier New', monospace;
    font-size: 1em;
  }

  .compName {
    margin-left: 50px;
    color: black;
    font-size: 2em;
  }

  .horline {
    border: none;
    height: 3px;
    width: 1150px;
    background-color: #1E3231;
  }

  .container5 {
    display: inline-block;
    height: 500px;
    width: 400px;
    position: static;
    margin-left: 63px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .djImage1 {
    margin-left: 50px;
    height: 250px;
    width: 300px;
  }

  .venTitle1 {
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
  }

  .artName1 {
    text-align: center;
    font-size: 1.7em;
  }

  .priceTag {
    text-align: center;
    font-size: 1.3em;
  }

  .price {
    text-align: center;
    font-size: 1em;
    padding-bottom: 10px;
  }

  .priceLink {
    margin-left: 155px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1em;
  }

  .container6 {
    display: inline-block;
    height: 500px;
    width: 400px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
  }

  .container7 {
    display: inline-block;
    height: 500px;
    width: 400px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
  }

  .container8 {
    display: inline-block;
    height: 500px;
    width: 400px;
    position: static;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .container9 {
    display: inline-block;
    height: 500px;
    width: 400px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
  }

  .container10 {
    display: inline-block;
    height: 500px;
    width: 400px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
  }

  .container12 {
    height: 150px;
    width: 200px;
    margin-top: 75px;
    margin-left: 225px;
    margin-right: 0px;
    position: static;
    display: inline-block;
  }

  .container13 {
    height: 300px;
    width: 200px;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 0px;
    position: static;
    display: inline-block;
  }

  .heading0 {
    position: static;
    display: block;
    font-size: 1em;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
    color: #909CC2;
  }

  .heading2 {
    font-size: 2em;
    margin-left: 10%;
    color: white;
  }

  .heading3 {
    font-size: 2em;
    margin-left: 4%;
    color: white;
  }

  .horline2 {
    border: none;
    height: 1.8px;
    width: 1150px;
    background-color: white;
    margin-top: -120px;
  }

  .container14 {
    height: 75px;
    width: 475px;
    margin-top: -30px;
    margin-left: 850px;
    position: static;
    display: inline-block;
  }

  .conectM {
    color: white;
    font-size: 1.5em;
    margin-left: 80px;
    margin-top: 120px;
  }

  .faceSize {
    width: 50px;
    height: 50px;
  }

  .instaSize {
    width: 50px;
    height: 50px;
  }

  .youSize {
    width: 50px;
    height: 50px;
  }

  .pinSize {
    width: 50px;
    height: 50px;
  }

  .twSize {
    width: 50px;
    height: 50px;
  }

  .last {
    text-align: center;
    margin-top: 90px;
    color: #909CC2;
  }

  .last2 {
    text-align: center;
    color: white;
    margin-top: 0px;
  }

  .content4 {
    border: solid #1E3231;
    width: 550px;
    height: 450px;
    background-color: white;
    margin: auto;
    margin-top: 200px;
    position: relative;
  }

  .close {
    background-color: #909CC2;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1em;
  }

  .topWords {
    margin-left: 200px;
    margin-top: 15px;
    position: absolute;
    font-size: 1em;
  }

  .topHr {
    position: absolute;
    border: none;
    height: 1.8px;
    width: 450px;
    background-color: #1E3231;
    top: 30px;
    margin-left: 45px;
    margin-top: 10px;
  }

  .info img {
    top: 7%;
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 50px;
  }

  .p {
    position: absolute;
    width: 50%;
    top: 30px;
    right: 5px;
    font-size: 1em;
  }

  .second {
    font-size: 2em;
    margin-top: 20px;
    position: absolute;
  }

  .third {
    font-size: 1em;
    margin-top: 64px;
    margin-left: 5px;
    position: absolute;
  }

  .bottomPart {
    background-color: #909CC2;
    width: 100%;
    height: 32%;
    position: absolute;
    top: 62.5%;
  }

  .bottomPartWords {
    position: absolute;
    top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
  }

  .bottomHr {
    position: absolute;
    border: none;
    height: 3px;
    width: 450px;
    background-color: white;
    margin-top: 20px;
    margin-left: 25px;
  }

  .conS {
    display: block;
    margin-top: 90px;
    margin-left: 175px;
    width: 35%;
    background-color: white;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1em;
  }

  .field {
    border: solid black;
    width: 70%;
    height: 400px;
    margin-left: 115px;
    margin-top: 250px;
    text-align: center;
  }

  .stuff_container {
    width: 300px;
    height: 180px;
    margin-left: 100px;
    margin-bottom: -50px;
    font-size: 3em;
    text-align: center;
  }
}

/* small screen */
@media only screen and (max-width: 450px) {
  .otherline {
    background-color: white;
    border-radius: 100px;
    position: absolute;
    width: 1350px;
    height: 8680px;
    border: solid #1E3231;
    margin-left: 30px;
    margin-top: -8px;
  }

  .slideshow {
    border: solid white;
    border-radius: 100px;
    width: 1195px;
    height: 200px;
    margin-top: 20px;
    margin-left: 73px;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
  }

  .slide1 {
    background-color: #8A817C;
    width: 33.333%;
    float: left;
    height: 100%;
    color: white;
    padding: 50px;
    font-size: 40px;
    overflow: hidden;
  }

  .slide3 {
    background-color: #665687;
    width: 33.333%;
    float: left;
    height: 100%;
    color: white;
    padding: 39px;
    font-size: 40px;
    overflow: hidden;
  }

  .slideText {
    font-family: 'Courier New', monospace;
    font-size: 2em;
  }

  .compName {
    margin-left: 50px;
    color: black;
    font-size: 3em;
  }

  .horline {
    border: none;
    height: 3px;
    width: 1150px;
    background-color: #1E3231;
  }

  .container5 {
    height: 1000px;
    width: 800px;
    position: static;
    margin-left: 280px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .djImage1 {
    margin-left: 100px;
    height: 500px;
    width: 600px;
  }

  .venTitle1 {
    margin-top: 50px;
    text-align: center;
    font-size: 3em;
  }

  .artName1 {
    text-align: center;
    font-size: 3em;
  }

  .priceTag {
    text-align: center;
    font-size: 3em;
  }

  .price {
    text-align: center;
    font-size: 3em;
    padding-bottom: 10px;
  }

  .priceLink {
    margin-left: 292px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    font-size: 2em;
  }

  .container6 {
    height: 1000px;
    width: 800px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
  }

  .container7 {
    height: 1000px;
    width: 800px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
  }

  .container8 {
    height: 1000px;
    width: 800px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .container9 {
    height: 1000px;
    width: 800px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
  }

  .container10 {
    height: 1000px;
    width: 800px;
    position: static;
    margin: auto;
    margin-bottom: 50px;
  }

  .container12 {
    height: 300px;
    width: 300px;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 0px;
    position: static;
    display: inline-block;
  }

  .container13 {
    height: 300px;
    width: 300px;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 0px;
    position: static;
    display: inline-block;
  }

  .heading0 {
    position: static;
    display: block;
    font-size: 2em;
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-left: -35px;
    text-align: center;
    color: #909CC2;
  }

  .heading2 {
    font-size: 2em;
    margin-left: 11%;
    color: white;
  }

  .heading3 {
    font-size: 2em;
    margin-left: 6%;
    color: white;
  }

  .horline2 {
    border: none;
    height: 1.8px;
    width: 1375px;
    background-color: white;
    margin-top: -100px;
    margin-left: 25px;
  }

  .container14 {
    height: 75px;
    width: 475px;
    margin-top: 0px;
    margin-left: 850px;
    position: static;
    display: inline-block;
  }

  .conectM {
    color: white;
    font-size: 2em;
    margin-left: -30px;
    width: 500px;
  }

  .faceSize {
    width: 100px;
    height: 100px;
    margin-left: -125px;
  }

  .instaSize {
    margin-left: -100px;
    width: 100px;
    height: 100px;
  }

  .youSize {
    margin-left: -75px;
    width: 100px;
    height: 100px;
  }

  .pinSize {
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }

  .twSize {
    margin-left: -25px;
    width: 100px;
    height: 100px;
  }

  .last {
    text-align: center;
    margin-top: 50px;
    color: #909CC2;
    font-size: 1.5em;
  }

  .last2 {
    text-align: center;
    color: white;
    margin-top: 0px;
    font-size: 1.5em;
  }

  .content4 {
    width: 1100px;
    height: 900px;
    background-color: white;
    margin: auto;
    margin-top: 1250px;
    position: relative;
  }

  .close {
    background-color: lightgrey;
    padding: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 2em;
  }

  .topWords {
    margin-left: 440px;
    margin-top: 40px;
    position: absolute;
    font-size: 2em;
  }

  .topHr {
    position: absolute;
    border: none;
    height: 1.8px;
    width: 930px;
    background-color: black;
    top: 50px;
    margin-left: 75px;
    margin-top: 35px;
  }

  .info img {
    top: 2%;
    position: absolute;
    width: 450px;
    height: 350px;
    margin: 3.8%;
  }

  .p {
    position: absolute;
    width: 50%;
    top: 55px;
    right: 0px;
    font-size: 2em;
  }

  .second {
    font-size: 2.5em;
    margin-top: 30px;
    position: absolute;
  }

  .third {
    font-size: 1.5em;
    margin-top: 125px;
    margin-left: 5px;
    position: absolute;
  }

  .bottomPart {
    background-color: lightgrey;
    width: 100%;
    height: 32%;
    position: absolute;
    top: 60%;
  }

  .bottomPartWords {
    position: absolute;
    top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 2.5em;
    text-align: center;
  }

  .bottomHr {
    position: absolute;
    border: none;
    height: 3px;
    width: 930px;
    background-color: white;
    margin-top: 20px;
    margin-left: 50px;
  }

  .conS {
    display: block;
    margin-top: 160px;
    margin-left: 330px;
    width: 35%;
    background-color: white;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2em;
  }

  .field {
    border: solid black;
    width: 390px;
    height: 400px;
    margin-left: -8px;
    margin-top: 230px;
    text-align: center;
  }

  .stuff_container {
    width: 300px;
    height: 180px;
    margin-left: 29px;
    margin-bottom: -50px;
    font-size: 3em;
    text-align: center;
  }
}
