*{box-sizing: border-box;}
.title{
  background-color: purple;
  color: pink;
  text-align: center;
}

.link{
  background-color: darkgrey;
  color: purple;
  text-decoration: none;
  padding: 10px 20px;
}

.link:hover{
  background-color: purple;
  color: darkgrey;
  box-shadow: 0px 0px 5px 1px purple;
}

.modalWindow{
  background-color: rgba(150, 150, 150, 0.5);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  pointer-events: none;
}

.modalWindow:target{
  opacity: 1;
  pointer-events: auto;
  transition: ease-in 0.5s;
}

.content{
  width: 550px;
  height: 450px;
  background-color: white;
  margin:auto;
  margin-top: 100px;
  position: relative;
}

.close{
  background-color: lightgrey;
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  text-decoration: none;
  color: darkgrey;
  font-weight: 600;
}

.close:hover{
  background-color: rgb(50,50,50);
  color: white;
}

.info{

  width: 100%;
  height: 80%;
  position: absolute;
  top: 10%;
}

.info img{
  width: 25%;
  padding: 3%;
  margin-left: 40px;
  margin-top: 0px;
}

.p{
  position: absolute;
  width: 60%;
  top: 0px;
  right: 0px;

}

.p i{
  
  font-size: 0.6em;
}

.p span{
  text-decoration: line-through;
}

.p b{
  color: red;
  font-size: 1.2em;
}

.p hr{
  margin-top: 60px;
}

.add{
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
background-color: rgb(50,50,50);
  text-align: center;
  padding: 20px 0px;
  color: lightgrey;
  text-decoration: none;
  font-weight: bold;
}

.add:hover{
  color: darkgrey;
  background-color: rgb(50,50,50);
}
